In [31]:
import pandas as pd

regije_zaposlenost = pd.read_csv("./data/Delovno aktivno prebivalstvo po statusu aktivnosti in občinah delovnega mesta Slovenija mesečno.csv",
encoding='ISO-8859-1', skiprows=1,sep=',')
regije_zaposlenost.sample(10)

,OBÈINE,DELOVNO AKTIVNO PREBIVALSTVO,2005M01,2005M02,2005M03,2005M04,2005M05,2005M06,2005M07,2005M08,...,2022M02,2022M03,2022M04,2022M05,2022M06,2022M07,2022M08,2022M09,2022M10,2022M11
773,Slovenska Bistrica,120 Samozaposlene osebe brez kmetov,826,829,823,819,816,816,812,812,...,844,849,850,852,856,856,859,864,862,866
763,Seana,120 Samozaposlene osebe brez kmetov,409,413,414,413,411,414,412,411,...,709,706,711,722,713,722,720,722,721,725
46,Bohinj,11 Zaposlene osebe - SKUPAJ,1147,1148,1141,1133,1127,1151,1145,1139,...,1188,1197,1202,1206,1210,1202,1187,1178,1170,1165
397,Lako,12 Samozaposlene osebe - SKUPAJ,707,705,705,707,707,704,709,709,...,646,644,646,645,645,646,642,646,664,664
900,martno pri Litiji,1 Delovno aktivno prebivalstvo - SKUPAJ,1189,1180,1338,1335,1349,1229,1222,1218,...,1438,1438,1441,1450,1469,1467,1461,1463,1491,1485
759,Sevnica,123 Samozaposlene osebe - kmetje,492,492,492,492,492,492,492,492,...,276,279,279,278,277,279,279,281,283,285
661,Ptuj,11 Zaposlene osebe - SKUPAJ,11059,11054,11103,11128,11242,11348,11453,11460,...,12646,12677,12744,12831,12886,13036,12933,12971,13130,12994
39,Bled,123 Samozaposlene osebe - kmetje,93,93,93,93,93,93,93,93,...,41,41,42,43,43,43,43,43,41,41
264,Hrpelje - Kozina,123 Samozaposlene osebe - kmetje,70,70,70,70,70,70,70,70,...,52,52,52,54,53,53,53,54,54,54
798,Stare,120 Samozaposlene osebe brez kmetov,96,94,96,97,96,95,94,96,...,125,127,126,128,131,132,133,127,128,129

In [ ]:
mesecne_place = pd.read_csv("./data/mesecne_place_po_dejavnostih.csv", encoding='ISO-8859-1', skiprows=1,sep=' ')
mesecne_place.sample(10)

In [ ]:
place_izobrazba = pd.read_csv("./data/povprecne_place_dejavnost_izobrazba.csv", encoding='ISO-8859-1', skiprows=1,sep=',')
place_izobrazba.sample(10)

In [ ]:
denarna_sredstva = pd.read_csv("./data/povprecno porabljena denarna sredstav gospodinjstev.csv", encoding='ISO-8859-1', skiprows=1,sep=',')
denarna_sredstva.head()